<!-- Calendly Section -->
<div id="book" class="calendly-section" style="min-width:320px;height:700px;">
  <div id="calendly-embed"></div>

  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>

  <script>
    document.addEventListener("turbo:load", function() {
      let calendlyContainer = document.getElementById("calendly-embed");

      // Ensure only one instance of Calendly
      if (!calendlyContainer.hasChildNodes()) {
        Calendly.initInlineWidget({
          url: 'https://calendly.com/ponzojavier/30min',
          parentElement: calendlyContainer,
          resize: true
        });
      }
    });
  </script>
</div>
