<turbo-frame id="calendly-frame">
  <!-- Calendly inline widget -->
  <div id="calendly-embed" style="min-width:320px;height:700px;"></div>

  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>

  <script>
    document.addEventListener("turbo:load", function() {
      Calendly.initInlineWidget({
        url: 'https://calendly.com/ponzojavier/30min', // Replace with your Calendly link
        parentElement: document.getElementById('calendly-embed'),
        resize: true
      });
    });
  </script>
</turbo-frame>
